
ts_analysis_country2.R
Data/County Level copy/confirmed-covid-19-cases-in-us-by-state-and-county.csv
Data/County Level copy/confirmed-covid-19-deaths-in-us-by-state-and-county.csv
total_cases.csv
total_deaths.csv
Data/train_states copy.csv
Data/train_states2 copy.csv
Data/Distance Data copy/sf12010countydistancemiles.csv
Data/Distance Data copy/sf12010countyname.csv
